notebook
numpy

streamlit
streamlit_autorefresh
streamlit-option-menu
bokeh==2.4.3
streamlit-bokeh-events
streamlit_extras==0.3.5
plotly
seaborn

torch

navec
razdel
gensim

transformers
sentence-transformers

vosk
PyAudio
