notebook
numpy

streamlit
streamlit_autorefresh
streamlit-option-menu
streamlit_chat==0.0.2.2
bokeh==2.4.3
streamlit-bokeh-events
streamlit_extras==0.3.5
plotly
seaborn

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0+cu121

navec
razdel
gensim

transformers
sentence-transformers

vosk
PyAudio
